<html>
    <p>Neue Notiz erstellen:</p>
    <form action='/note' method='post'>
        <input name='title' placeholder="title" placeholder='title'>
        <input name='content' placeholder='content'>
        <input name='importance' placeholder='importance'>
        <input name='date_due' placeholder='date_due'>

        <input type='submit' value='Speichern'>
    </form>
    <a href="/"><button>Abbrechen</button></a>
</html>