<html>
    <p>Willkommen! Zu der besten Pizzaria auf der Welt!</p>
    <form action='/note' method='get'><input type='submit' value='Order a Pizza'></form>

    {{#each note}}
        {{title}}<br>
    {{/each}}
</html>
