<html>
    <p>Willkommen! Zu der besten Pizzaria auf der Welt!</p>
    <form action='/orders' method='get'><input type='submit' value='Order a Pizza'></form>

    {{#each notes}}
        {{title}}<br>
    {{/each}}
</html>
