<html>
    <form action='/note' method='get'><input type='submit' id='createNote' value='Create new Note'></form>
    <select>
        <option value="light">Light-Mode</option>
        <option value="dark">Dark-Mode</option>
    </select>
    {{#each note}}
        {{title}}<br>
    {{/each}}
</html>
