/* reset */
*  {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{
    display: inline;
}

header .theme-switch {
    float: right;
    margin: 1rem 0rem 1rem 1rem;
}

.sortButtons{
    width:100%;
    display: inline-block;
}

.sortButtons a {
    display: inline-block;
}

.showFinished{
    float: right;
}

button, input[type=submit], a {
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    padding:  0.5rem 0.5rem;
    border: none;
    color: white;
    background-color: rgb(0, 96, 160);
    border-radius: 0.3rem;
    margin: 0.5rem 1rem 1rem 0.5rem;
}

button:hover, input[type=submit]:hover, a:hover{
    color: lightgray;
}

button:active, input[type=submit]:active, a:active{
    -webkit-box-shadow: inset 1px 1px 10px #333;
    -moz-box-shadow:    inset 1px 1px 10px #333;
    box-shadow:         inset 1px 1px 10px #333;
}

@media only screen and (max-width: 600px) {
    /* For mobile phones: */
    a, input{
        float: left;
        width: 100%;
        margin: 0rem 0.1rem 0.1rem 0.1rem;
    }
}

body {
    font-size: 1rem;
    font-family: "URW Gothic L", "Helvetica", "Arial", sans-serif;
    counter-reset: section;
}

main{
    margin: 5px 10px 5px 10px;
    display: block;
}

.note {
    display: grid;
    grid-template-columns: 10% auto auto 10%;
    grid-template-rows: auto auto;
    margin: 1rem 0.1rem 0.1rem 0.1rem;
}

.noteDueDate{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    font-style: italic;
    font-size: smaller;
}

.noteState {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.noteTitle {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.noteImportance {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    text-align: right;
}

.noteContent{
    grid-column: 2 / 4;
    grid-row: 2 / 3;
    resize: none;
    width:100%;
    height:100%;
    background-color: lightblue;
}

.noteEdit{
    grid-column: 4 / 5;
    grid-row: 2 / 3;
}


.dark{
    background-color: darkblue;
}

.light{
    background-color: aliceblue;
}

input[type=text], input[type=email], input[type=url], input[type=search], select {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    margin-bottom: 1rem;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid black;
    background-color: #f2f2f2;
}

input[type=search] {
    width: 20%;
}

input[type=file]{
    width: 100%;
    font-size: 1rem;
}