/* reset */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

textarea, select, input, button {
    outline: none;
}

header {
    display: inline;
}

header .theme-switch {
    float: right;
    margin: 1rem 0rem 1rem 1rem;
}

.sortButtons {
    width: 100%;
    display: inline-block;
}

.sortButtons a {
    display: inline-block;
}

.showFinished {
    float: right;
}

button, input[type=submit], a {
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    padding: 0.5rem 0.5rem;
    border: none;
    color: white;
    background-color: lightgray;
    color: black;
    border-radius: 0.3rem;
    margin: 0.5rem 1rem 1rem 0.5rem;
}

.dark button, .dark input[type=submit], .dark a {
    color: white;
    background-color: rgb(0, 96, 160);
}

button:hover, input[type=submit]:hover, a:hover {
    color: rgb(0, 96, 160);
}

.dark button:hover, .dark input[type=submit]:hover, .dark a:hover {
    color: lightgray;
}

button:active, input[type=submit]:active, a:active {
    -webkit-box-shadow: inset 1px 1px 10px #333;
    -moz-box-shadow: inset 1px 1px 10px #333;
    box-shadow: inset 1px 1px 10px #333;
}


body {
    font-size: 1rem;
    font-family: "URW Gothic L", "Helvetica", "Arial", sans-serif;
    counter-reset: section;
}

main {
    margin: 5px 10px 5px 10px;
}

.note {
    display: grid;
    grid-template-columns: 10% auto auto 10%;
    grid-template-rows: auto auto;
    margin: 1rem 0.1rem 0.1rem 0.1rem;
}

.noteDueDate {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    font-style: italic;
    font-size: smaller;
}

.noteState {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.noteTitle {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.noteImportance {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    text-align: right;
}

.noteContent {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
    resize: none;
    background-color: lightgray;
}

.noteEdit {
    grid-column: 4 / 5;
    grid-row: 2 / 3;
}


.dark {
    background-color: darkblue;
}

.light {
    background-color: aliceblue;
}

input[type=text], input[type=email], input[type=url], input[type=search], select {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    margin-bottom: 1rem;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid black;
    background-color: #f2f2f2;
}

input[type=search] {
    width: 20%;
}

input[type=file] {
    width: 100%;
    font-size: 1rem;
}

input[type=checkbox] {
    display: block;
    margin-bottom: 1rem;
}

.dark {
    background-color: black;
    color: white;
}

.light {
    background-color: aliceblue;
}

#create {
    position: fixed;
    left: 5%;
    margin-top: 1rem;
    width: 90%;
}

#create label {
    height: 2rem;
}

input[type=text], input[type=number], input[type=date], textarea {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    margin-bottom: 1rem;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid black;
    background-color: #f2f2f2;
}

input:focus, textarea:focus, .dark input:focus, .dark textarea:focus {
    border-bottom: 2px solid rgb(0, 96, 160);
}

h2 {
    padding-bottom: 0.5rem;
    border-bottom: 1px lightgray solid;
}

.dark input[type=text], .dark input[type=number], .dark input[type=date], .dark textarea {
    color: white;
    border-bottom: 2px solid white;
    background-color: black;
}

@media only screen and (max-width: 600px) {
    /* For mobile phones: */
    a, input[type=submit] {
        float: left;
        width: 100%;
        margin: 0rem 0.1rem 0.1rem 0.1rem;
    }

    .note {
        border-top: 1px solid lightgray;
        grid-template-columns: 20% auto auto 10%;
        grid-template-rows: auto auto auto;
        padding-top: 0.5rem;
        margin: 1rem 0.1rem 0.1rem 0.1rem;
    }

    .noteDueDate {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    .noteState {
        grid-column: 4 / 5;
        grid-row: 1 / 2;
    }

    .noteTitle {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }

    .noteImportance {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
        text-align: center;
    }

    .noteContent {
        grid-column: 1 / 5;
        grid-row: 2 / 3;
    }

    .noteEdit {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }
}
